/**
 * Copyright © 2018 Benutech Inc. All rights reserved.
 * http://www.benutech.com - help@benutech.com
 * version: 0.8.4
 * https://github.com/benutech-inc/ttb-sdk
 * For latest release, please check - https://github.com/benutech-inc/ttb-sdk/releases
 * */

/* widgets styles */
.ttb-sdk--instant-lookup--container{
    width: 500px;
    padding: 5px 0;
    background: #eeeeee; /* should be customized for 3party site theme */
    border-radius: 5px;
}
#ttb-sdk--instant-lookup--selected-action{
    text-align: left;
    width: 147px;
}
#ttb-sdk--instant-lookup--address{
    padding-right: 2px;
}
#ttb-sdk--instant-lookup--actions{
    padding-left: 0;
}
