/**
 * Copyright © 2018 Benutech Inc. All rights reserved.
 * http://www.benutech.com - help@benutech.com
 * version: 1.6.0
 * https://github.com/benutech-inc/ttb-sdk
 * For latest release, please check - https://github.com/benutech-inc/ttb-sdk/releases
 * */

/* widgets styles */
/* instant lookup widget - starts */
.ttb-sdk--instant-lookup--container {
    padding: 15px 0;
    background: #f5f7f7; /* should be customized for 3party site theme */
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
#ttb-sdk--instant-lookup--address{
    margin-bottom: 15px;
}

/*iLookup- icons*/
.icon-widget-info{
    background: url(https://i.ibb.co/CQkv0D1/352432-48.png) no-repeat center;
    background-size: 18px 18px;
    display: inline-block;
    background-position-y: 2px;
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}
.icon-widget-right-arrow{
    background: url(https://i.ibb.co/tZmYzL1/right-arrow.png) no-repeat center;
    background-size: 18px 18px;
    display: inline-block;
    background-position-y: 2px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    bottom: 7px;
}
/*ends*/

#ttb-sdk--instant-lookup--actions{
    margin-bottom: 15px;
}
.ttb-sdk--instant-lookup--auto-complete-wrapper {
    padding-left: 20px;
}
#ttb-sdk--instant-lookup--actions .btn-group {
    padding-left: 20px;
}
#ttb-sdk--instant-lookup--actions .dropdown-menu {
    left: 20px;
}
#ttb-sdk--instant-lookup--selected-action {
    text-align: left;
}
#ttb-sdk--instant-lookup--selected-action .btn-group{
    padding-right: 0;
}
#ttb-sdk--instant-lookup--alert {
    display: none;
}
.ttb-sdk--instant-lookup--footer {
    margin-top: 15px;
}
/* instant lookup widget - ends */

/* ilookup - netsheet widget - starts */
#ttb-sdk--net-sheet--modal .modal-dialog {
    max-width: 1200px;
    width: 1200px !important;
    margin: 1.75rem auto;
}
/* ilookup - netsheet widget - ends */

/* select-sponsor widget - starts */
#ttb-sdk--select-sponsor .modal-dialog {
    max-width: 880px;
    /*width: 880px !important;*/
    margin: 1.75rem auto;
}
#ttb-sdk--select-sponsor .modal-header, #ttb-sdk--select-sponsor .modal-header{
    text-align: center;
    background: #f8fafb;
}
#ttb-sdk--select-sponsor .modal-title, #ttb-sdk--sponsor-tos-modal .modal-title{
    width: 100%;
    color: #2e4250;
    font-size: 25px;
    line-height: 32px;
}
#ttb-sdk--select-sponsor .modal-body{
    padding: 0;
}
#ttb-sdk--select-sponsor .close, #ttb-sdk--sponsor-tos-modal .close {
    font-size: 22px;
    position: absolute;
    right: 22px;
}
#ttb-sdk--select-sponsor .table{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 0;
}
#ttb-sdk--select-sponsor .table thead th{
    background: #f1f2fa;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    text-align: left;
}
#ttb-sdk--select-sponsor thead{
    border-left: 4px #3288db solid;
}

#ttb-sdk--select-sponsor .table th{
    font-weight: 400;
    text-align: center;
}
#ttb-sdk--select-sponsor .table td, #ttb-sdk--select-sponsor .table th{
    vertical-align: middle !important;
}
#ttb-sdk--select-sponsor h3{
    color: #748794;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 25px 0;
}
#ttb-sdk--select-sponsor strong{
    font-weight: 700;
}
#ttb-sdk--select-sponsor a{
    color: #3d9ce2;
}
#ttb-sdk--select-sponsor img{
    max-width: 150px;
    max-height: 70px;
}
#ttb-sdk--select-sponsor .selected td, #ttb-sdk--select-sponsor .selected th{
    background: #eff6fc;
}
#ttb-sdk--select-sponsor .selected .btn{
    background: #92d400;
    border: 1px #80b900 solid;
}

/* some specific styles for sponsor tos modal */
#ttb-sdk--sponsor-tos-modal .modal-title{
    line-height: 1.3;
    margin-top: 30px;
}

#ttb-sdk--sponsor-tos-modal .modal-title p{
    color: #748794;
    margin: 30px 0;
    font-size: 18px;
}
#ttb-sdk--sponsor-tos-modal .modal-body{
    text-align: center !important;
}

/* sponsor-tos-modal widget - ends */
